#canvas {
  display: block;
  background-color: #333;
  width: 500px;
  height: 400px;
  position: relative;
  /* center canvas */
  margin: auto;
}

.block {
  background-color: azure;
  position: absolute;
  bottom: 0;
  right: 3px;
  animation: slide 2.5s linear infinite;
}

.player {
  color: lightyellow;
  position: absolute;
  bottom: 0;
  left: 2px;
  background-color: lightblue;
}

.player--jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-800px);
  }
}
