#canvas {
  display: block;
  background-color: #fff;
  border: 2px solid black;
  width: 500px;
  height: 400px;
  position: relative;
  margin: auto; /* center canvas */
}

.cactus {
  background-color: #666666;
  position: absolute;
  bottom: 0;
  right: 3px;
}

.player {
  position: absolute;
  bottom: 0;
  left: 30px;
  background-color: #333;
}

.player--jump {
  animation: jump 0.3s linear;
}

.slide {
  animation: slide 2.5s linear infinite;
}

.pause {
  animation-play-state: paused;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-800px);
  }
}
