* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
}
#canvas {
}

#score {
}

#restart {
}
.cactus {
}

.player {
}

.player--jump {
}

.slide {
}

.cactus--outside {
}

.cactus--inside {
}

.pause {
}

.hide {
}

.show {
}

/* animation for player jump */
@keyframes jump {
}

/* animation for cactus slide */
@keyframes slide {
}
